html {
  height: 100%;
  margin: 0; }
  html body {
    background-image: url("../images/chestnut.bur.bw.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #F0FFFF;
    height: 100%;
    margin: 0; }
    html body div.wrapper {
      margin-bottom: -14em;
      min-height: 100%; }
      html body div.wrapper div.content {
        padding: 1em; }
    html body footer {
      background: #000000;
      color: #F0FFFF;
      height: 14em;
      padding: 1em; }
      html body footer div.footer-content {
        margin: auto;
        max-width: 40em; }
        html body footer div.footer-content ul.contact-info {
          list-style: none;
          margin: auto;
          max-width: 20em;
          padding: 0em; }
          html body footer div.footer-content ul.contact-info li {
            text-align: center; }
