html {
  margin: 0;
  height: 100%; }
  html body {
    background-image: url("../images/chestnut.bur.bw.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #000000;
    height: 100%;
    margin: 0;
    width: 100%; }
    html body div.wrapper {
      min-height: 100%; }
      html body div.wrapper header h1.logo {
        color: #FFFFFF;
        font-family: 'Merriweather', serif;
        font-weight: bold;
        margin: 0em 0.4em 0.4em 0.4em; }
        html body div.wrapper header h1.logo em {
          font-size: 1.35em;
          font-weight: normal; }
          html body div.wrapper header h1.logo em.n {
            margin-right: 0.12em; }
          html body div.wrapper header h1.logo em.z {
            margin-left: -0.07em; }
      html body div.wrapper header img.logo {
        position: relative;
        left: 11em;
        top: 0.8em; }
      html body div.wrapper div.content {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 1em;
        margin-bottom: 16em; }
    html body footer {
      background: #000000;
      color: #FFFFFF;
      margin-top: -16em;
      height: 16em; }
      html body footer div.footer-content {
        margin: auto;
        max-width: 40em;
        padding: 1em; }
        html body footer div.footer-content ul.contact-info {
          list-style: none;
          margin: auto;
          max-width: 20em;
          padding: 0em; }
          html body footer div.footer-content ul.contact-info li {
            text-align: center; }
