
{% extends "templates/base.html" %}

{% block subTitle %}:Contact Us{% endblock %}

{% block assets %}
    <link type="text/css" rel="stylesheet" href="/static/css/contact.css" />
{% endblock %}

{% block content %}
    <div class="contact">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">

                <h1>
                NZ Chestnut Council, Executive Contact Details
                </h1>

                <ul class="contact-list">
                    <li>
                    <strong>Roger Brown (Chairperson)</strong><br />

                    Phone: <a href="tel:+6494800432">+64 09 480 0432</a> or <a href="+6421972 845">+64 021 972 845</a><br />
                    Email:
                        <a href="mailto:&#114;&#111;&#103;&#101;&#114;&#064;&#098;&#105;&#110;&#101;&#116;&#046;&#099;&#111;&#046;&#110;&#122;">
                            &#114;&#111;&#103;&#101;&#114;&#064;&#098;&#105;&#110;&#101;&#116;&#046;&#099;&#111;&#046;&#110;&#122;
                        </a>
                        or
                        <a href="mailto:&#114;&#098;&#098;&#064;&#099;&#108;&#101;&#097;&#114;&#046;&#110;&#101;&#116;&#046;&#110;&#122;">
                            &#114;&#098;&#098;&#064;&#099;&#108;&#101;&#097;&#114;&#046;&#110;&#101;&#116;&#046;&#110;&#122;
                        </a> <br />

                    Address: <br />
                    35 Hillcrest Ave, <br />
                    Auckland
                    </li>

                    <li>
                    <strong>David Klinac</strong> <br />
                    Phone: <a href="tel:+6478569321">+64 07 856 9321</a> <br />
                    Email:
                        <a href="mailto:&#100;&#107;&#108;&#105;&#110;&#097;&#099;&#064;&#120;&#116;&#114;&#097;&#046;&#099;&#111;&#046;&#110;&#122;">
                        &#100;&#107;&#108;&#105;&#110;&#097;&#099;&#064;&#120;&#116;&#114;&#097;&#046;&#099;&#111;&#046;&#110;&#122;
                        </a> <br />

                    Address: <br />
                    10 June Place, <br />
                    Hamilton <br />
                    New Zealand
                    </li>

                    <li>
                    <strong>Ray Knowles</strong> <br />
                    Phone: <a href="tel:+6468743029">+64 06 874 3029</a> <br />
                    Email:
                        <a href="mailto:&#114;&#097;&#121;&#046;&#107;&#110;&#111;&#119;&#108;&#101;&#115;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">
                            &#114;&#097;&#121;&#046;&#107;&#110;&#111;&#119;&#108;&#101;&#115;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;
                        </a> <br />

                    Address: <br />
                    PO BOX 411, <br />
                    Hastings, <br />
                    New Zealand <br />
                    </li>

                </ul>

            </div> <!-- /col -->
            <div class="col-md-1"></div>
        </div> <!-- /row -->
    </div> <!-- /contact -->
{% endblock%}
