
{% extends "templates/base.html" %}

{% block subTitle %}:Facts{% endblock %}

{% block assets %}
    <link type="text/css" rel="stylesheet" href="/static/css/facts.css" />
{% endblock %}

{% block content %}
    <div class="facts">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">

                <h1>Chestnut Facts</h1>

            </div> <!-- /col -->
            <div class="col-md-1"></div>
        </div> <!-- /row -->
    </div> <!-- /facts -->
{% endblock%}
