
{% extends "templates/base.html" %}

{% block subTitle %}:FAQ{% endblock %}

{% block assets %}
    <link type="text/css" rel="stylesheet" href="/static/css/faq.css" />
{% endblock %}

{% block content %}
    <div class="faq">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h1>FREQUENTLY ASKED QUESTIONS</h1>

                <ul class="faq">
                    <li>
                        <strong>Q.</strong> Are these the same as horse chestnuts or water chestnuts? <br />
                        <strong>A.</strong> No. These are quite different species.
                    </li>

                    <li>
                        <strong>Q.</strong> What can you do with them? <br />
                        <strong>A.</strong> They are a versatile and healthy food : either fresh,
                        boiled, cooked or processed into paste, puree, flour or confectionery.
                        (Peelers, recipe books and nutritional information are available from the
                        NZ Chestnut Council : NZCC).
                    </li>

                    <li>
                        <strong>Q.</strong> Is there a market for them? <br />
                        <strong>A.</strong> Large tonnages are traded internationally, especially in Asia and
                        Europe. Most of the NZ crop has been exported, although the industry is
                        now placing greater emphasis on processing.
                    </li>

                    <li>
                        <strong>Q.</strong> Who grows them? <br />
                        <strong>A.</strong> Mostly temperate-zone countries: central and southern
                        Europe, China, Korea, Japan, US, Australia and NZ.
                    </li>

                    <li>
                        <strong>Q.</strong> Where can I get trees from? <br />
                        <strong>A.</strong> A list of recommended chestnut nurseries is available from the NZCC.
                    </li>

                    <li>
                        <strong>Q.</strong> What's a good tree to get? <br />
                        <strong>A.</strong> A set of recommended tree standards and guidelines is also available
                        from the NZCC. You also need at least two different cultivars, for cross-pollination.
                    </li>

                    <li>
                        <strong>Q.</strong> How much do they cost? <br />
                        <strong>A.</strong> A good grafted or budded tree should cost around $10-$1<strong>Q.</strong>
                    </li>

                    <li>
                        <strong>Q.</strong> How many do I need? <br />
                        <strong>A.</strong> Depending upon the desired tree density : 100-300 trees/h<strong>A.</strong>
                        With good growing conditions a canopy spread of 15 - 20m could be
                        expected in 15 - 20 years, with a height of 10 - 15m.
                    </li>

                    <li>
                        <strong>Q.</strong> How big is a chestnut orchard? <br />
                        <strong>A.</strong> Most chestnut orchards are part-time operations of 2-3 h<strong>A.</strong>
                        Some large orchards may be 10 ha or more.
                    </li>

                    <li>
                        <strong>Q.</strong> How soon do they start to crop? <br />
                        <strong>A.</strong> Usually they will crop in 3-4 years (harvest is in Autumn).
                    </li>

                    <li>
                        <strong>Q.</strong> What production can be expected? <br />
                        <strong>A.</strong> Up to 50 kg/tree by year 12, depending on initial tree
                        stocking. (100 kg max per tree).
                    </li>

                    <li>
                        <strong>Q.</strong> What sort of returns can be expected? <br />
                        <strong>A.</strong> Returns vary greatly. Up to $2/kg for local market; up
                        to $3/kg for fresh export or processing (gross return).
                    </li>

                    <li>
                        <strong>Q.</strong> Can they be grown organically? <br />
                        <strong>A.</strong> Yes.
                    </li>

                    <li>
                        <strong>Q.</strong> Do they get pests and diseases? <br />
                        <strong>A.</strong> Yes. But much less so than chestnuts overseas.
                    </li>

                    <li>
                        <strong>Q.</strong> What are the main problems in NZ? <br />
                        <strong>A.</strong> Wind, wet feet, waterlog-prone soils, Phytophthora root rot
                        and fungal nut rots, salt-spray (if too near the sea).
                    </li>

                    <li>
                        <strong>Q.</strong> Where can you grow them in NZ? <br />
                        <strong>A.</strong> Most current production is in the Waikato, Bay of Plenty,
                        Auckland and Canterbury regions, but chestnuts are grown throughout NZ.
                    </li>

                    <li>
                        <strong>Q.</strong> What do I do with the nuts I harvest? <br />
                        <strong>A.</strong> Most nuts are exported (fresh) or processed. Some are sold on the
                        local market.
                    </li>

                    <li>
                        <strong>Q.</strong> Is there a NZ chestnut industry? <br />
                        <strong>A.</strong> Yes. Several companies exist to export and/or process NZ
                        chestnuts. Many growers are shareholders in these companies.
                    </li>

                    <li>
                        <strong>Q.</strong> Where can I get more information on chestnuts? <br />
                        <strong>A.</strong> Information is readily available from the NZ Chestnut Council
                        (the national chestnut growers association), its newsletter and various other publications.
                        There are also several local, regional chestnut grower groups.
                    </li>

                    <li>
                        <strong>Q.</strong> Is there someone I can talk with further regarding
                         chestnuts, and the suitability of my property for growing them? <br />
                        <strong>A.</strong> Contact the NZ Chestnut Council for details.
                    </li>
                </ul>

            </div><!-- /col -->
            <div class="col-md-1"></div>
        </div><!-- /row -->
    </div><!-- faq -->
{% endblock %}