
{% extends "templates/base.html" %}

{% block subTitle %}:Index{% endblock %}

{% block assets %}
    <link type="text/css" rel="stylesheet" href="/static/css/index.css" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>NEW ZEALAND CHESTNUT COUNCIL INC.</h1>
            <p>
            The New Zealand Chestnut Council Inc (NZCC) is the nationally recognised
            product group for chestnuts.
            </p>

            <p>
            The aim of NZCC is to encourage, promote and advance New Zealand's Chestnut
            Industry including the promotion of the sale and consumption, of fresh and
            processed New Zealand grown Chestnuts, both in New Zealand and overseas,
            for the benefit of New Zealand Chestnut Growers.
            </p>

            <p>
            If you wish to join the NZ Chestnut Council and receive the NZCC "Chestnutz News"
            newsletter (electronic sample available on request ) , please pay the annual NZCC
            fee of $130.00. (Payment is best done by direct credit using Internet banking - the
            NZCC bank a/c # is 12-3122 0057471-00 &amp; remember to include your name in the
            reference field. Alternatively, write a cheque made out to NZCC and post to
            NZ Chestnut Council c/- D.Klinac, 10 June Place, Hamilton 3216.
            </p>
        </div>
    </div>
{% endblock %}