<nav class="navbar navbar-default navbar-fixed-to">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/faq/">FAQ</a>
            </li>
            <li>
                <a href="">Guidelines for Storage</a>
            </li>
            <li>
                <a href="">Chestnut Facts</a>
            </li>
            <li>
                <a href="">Executive Committee</a>
            </li>
            <li>
                <a href="">Recipes</a>
            </li>
        </ul>
    </div>
</nav>
