
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/faq/">FAQ</a>
                </li>
                <li>
                    <a href="/storage/">Guidelines for Storage</a>
                </li>
                <li>
                    <a href="/facts/">Chestnut Facts</a>
                </li>
                <li>
                    <a href="/contact/">Contact Us</a>
                </li>
                <li>
                    <a href="">Recipes</a>
                </li>
            </ul>
        </nav>
    </div> <!-- /col -->
    <div class="col-md-1"></div>
</div> <!-- /row -->
