
{% extends "templates/base.html" %}

{% block subTitle %}:Storage{% endblock %}

{% block assets %}
    <link type="text/css" rel="stylesheet" href="/static/css/storage.css" />
{% endblock %}

{% block content %}
    <div class="storage">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h1>Guidelines for Storage</h1>

                <h3>Summary</h3>
                <ul>
                    <li>The cleaner the chestnuts the better.</li>
                    <li>The drier the chestnuts the better.</li>
                    <li>The colder the chestnuts the better.</li>
                    <li>
                        And in most instances the detail of chestnut
                        handling and storage will be at the direction
                        and primary concern of the packhouse and buyer
                        with whom you will need to consult.
                    </li>
                </ul>

                <h3>Background</h3>
                <p>
                Most NZ chestnut orchards are harvested by hand, chestnuts
                are then dipped in a weak solution of sodium hypochlorite
                and packed into plastic bags ready for coolstorage at
                0-2&#8451;. Recent research has identified an improved chestnut
                sterilant to hypochlorite and storage treatments which results
                in substantially improved nut quality for our customers.
                </p>

                <p>
                Sodium hypochlorite is a good, safe and commonly used surface
                sterilant but it breaks down quickly in contact with organic
                matter and, even when working well only eliminates some surface
                fungi; not internal rots, not latent infections under the shell,
                and not all resting-spores. There are now better surface
                sterilants and better washing procedures we all need to be using.
                </p>

                <p>
                Similarly with plastic bags. Getting fresh chestnuts into plastic
                bags as quickly as possible after harvest has the great virtue of
                minimising water loss and maintaining weight an important consideration
                when you're being paid by weight but chestnuts that are "too fresh",
                with too high a moisture content and surface wetness, are a target for
                fungi rots. Wet chestnuts go rotten much faster than drier chestnuts.
                </p>

                </p>
                The definitive French chestnut handbook "Chestnuts and Marrons" authored
                by Dr Henri Breisch (extracts have been reproduced in "Chestnutz News" by
                permission) is quite clear on this point. A typical, freshly harvested
                chestnut, at 58-67% moisture content is simply "too wet for
                successful storage". The “ideal water content” is considered to
                be 50-52%. To reach this point may require some deliberate drying.
                At the very least there should be no surface water or dampness. Putting
                fresh nuts into plastic bags is sometimes just asking for trouble
                (especially when sweating or condensation occurs inside the bags).
                </p>

                <p>
                Coolstores, even when running at the correct temperatures can also
                cause problems. To avoid sweating and condensation adequate air
                movement and ventilation is required. This is necessary to prevent
                fungal growth. Large volumes of tightly packed bags of chestnuts
                can work against this. Lots of in-and-out movement, frequent restacking,
                removal of bags of chestnuts and their later return to coolstorage,
                and the presence of rotten nuts in some bags doesn't help. It
                commonly takes up to seven days from time of admission for a
                consignment of chestnuts to drop to stable coolstore temperatures
                which, even then, have averaged 2-3&#8451;, (allowing rots to
                continue to develop) even though the coolstore itself has been set
                to run at 0-1&#8451;. Conversely, chestnuts removed from coolstorage,
                even for a short time, can warm up very, very fast (and be much,
                much slower to cool down again).
                </p>

                <p>
                Ironically, it can sometimes be easier for small producers to store
                chestnuts for long periods, using only modest resources, far more
                successfully than larger commercial coolstore operators. Using the
                correct cool storage conditions it's possible to store chestnuts for
                over 18 months. Sure they loose some weight and some chestnuts
                germinate but the incidence of surface mould is negligible, and the
                incidence of internal rots is no higher than when they first entered
                the coolstore. They are still perfectly OK to eat. So it can be done.
                </p>


                <h3>General guidelines:</h3>
                <ol>
                    <li>
                        Whenever possible, put only good quality chestnuts into
                        coolstorage. (Even the best handling and storage conditions
                        in the world won't stop a chestnut that is already rotten,
                        going rotten). Even a small percentage of "bad" chestnuts
                        can jeopardise the storage life of an otherwise good batch:
                        respiration rates will be greatly increased, water loss
                        (and therefore condensation and sweating) will then be increased,
                        and fungal (or bacterial) infections can then spread. There
                        may even be localised heat build-up. To prevent this means
                        washing and dipping chestnuts, throwing away all "suspect"
                        chestnuts and if possible use flotation grading (see below).
                        (Ideally this should be done twice, once on the orchard and
                        again, in the packhouse, just before export or processing).
                    </li>
                    <li>
                        In general, the drier the chestnut the better it will store.
                        This doesn't mean drying the nut so as the shell and kernel
                        are soft to touch (many chestnuts at this stage are "dead", and
                        this can make storage problems much worse) but certainly a
                        chestnut that is bone-dry to the touch, with no sign of sweating
                        or condensation during storage is preferable. If you want your
                        chestnuts to store well, be prepared to accept some weight loss.
                    </li>

                    <li>
                        In general, the colder the temperature the better chestnuts will
                        store. Just a few degrees can make all the difference to fungal
                        growth, especially Phomopsis. 2-3&#8451; is way too high.
                        Below ~ -2&#8451; is too low due to the risk of freezing damage.
                        (If you want to freeze them, then freezing as fast as possible,
                        which usually means using very low temperatures, minimises damage
                        to the actual nut and helps maintain quality). "Just a little bit
                        of freezing" can be the worst of both worlds giving only partial
                        protection and causing marked deterioration in subsequent taste,
                        texture, colour, etc.
                    </li>
                </ol>

                <p>
                The following three principles have been successfully put into practice
                by individual growers such as Ray Knowles and commercial companies
                such as Kiwi Chestnut Co-operative Company Ltd (KCCC).
                </p>

                <p>
                KCCC now uses a new washing and dipping procedure involving "Vortexx", a
                hydrogen peroxide-based chemical which HortResearch has shown to be much
                more effective than the previously used sodium hypochlorite. Vortexx is
                much longer-lasting and more acceptable for organic production. (Like
                any such chemical it also works best on chestnuts that have first been
                washed and rinsed to remove excess dirt, grass and other debris). More
                detailed information about this chemical and how best to use it is
                available from David Klinac, HortResearch or Judy Fitness, KCCC,
                Ph. <a href="tel:+6478236692"> +64 07 823 6692</a>, or the manufacturer Craig Scoun,
                Ecolab Ltd, Ph. <a href="tel:+6425444994">+64 025-444 994</a>.
                </p>

                <p>
                Growers who supply packhouses are now required as part of their
                supply agreements to use this product in association with on-orchard
                flotation grading of their chestnuts to remove as many rotten and
                suspect chestnuts as possible prior to coolstorage. This technique is
                both simple and very effective, but needs to be done properly.
                The water solution must be adjusted regularly for different batches
                of chestnuts. It won't work if using non-standard chemicals or
                procedures (as some growers have attempted). Some of the "finer points"
                of flotation grading remain proprietary to HortResearch.
                (Contact David Klinac if you require further information). Whatever approach is
                adopted, the fewer "inferior"-grade chestnuts that are put into storage
                to begin with, the better they will keep.
                </p>

                <p>
                KCCC has also developed use of open-weave onion bags to store chestnuts,
                rather than plastic bags. Coupled with a special coolstore layout
                involving careful stacking to allow ease of air movement, and low temperature
                storage (0 to -2&#8451;). Partial drying of the chestnuts is carried out
                under controlled conditions and the development of rots and surface mould is
                minimised. Although being used primarily for the storage of processing-grade
                chestnuts, fresh nuts remain in saleable, even exportable condition for a
                surprisingly long time before drying out irreversibly.
                </p>

                <p>
                Plastic bags and onion bags are however only the two opposite extremes of the
                spectrum. There are other ways to package chestnuts for coolstorage. Where
                longer-term storage is required, but without the water and weight loss of
                onion bags at sub-zero temperatures, then something as simple as "kleensacks" or
                potato-style 10-20kg multi-walled paper bags can be a useful compromise. Using
                these at conventional 0-2&#8451; coolstorage temperatures can work very well.
                Rots and moulds are kept to a minimum, but water loss is not excessive.
                (Care must be taken with nut quality going in, however, especially nut wetness).
                Leave bags open for up to a week, in coolstorage, to assist drying. A
                combination of a paper bag and a plastic bag together can also work well,
                and allows a degree of "fine-tuning". Contact Ray Knowles
                (<a href="tel:+6468743029">+64 06 874 3029</a>) for more details.
                </p>

                <h3>Looking further ahead</h3>

                <p>
                There are some new dip and wash chemicals currently under test that promise
                to be much more effective, again, than "Vortexx". Some revised washing and
                dipping procedures may also make it easier to get at deep-seated latent
                fungal infections sitting beneath the shell, on the surface of the pellicle:
                currently still proving troublesome.
                </p>

                <p>
                Controlled drying of chestnuts is another key area. Even a few percentage
                points difference in moisture content can make a major difference to
                susceptibility to fungal rots and greatly increase storage life. The problems
                are:-
                </p>

                <ol>
                    <li>
                        How to measure and monitor these differences easily and non-destructively.
                    </li>
                    <li>
                        How to carry out controlled drying of a large batch of chestnuts quickly
                        and accurately: so that all chestnuts within that batch end up with the
                        same moisture content. (Be warned: incorrect drying of chestnuts can
                        produce bad taints and off-flavours).
                    </li>
                </ol>

                <p>
                Controlled atmosphere (CA) and modified atmosphere (MA) storage of chestnuts has
                been attempted with some degree of success. We now think we've got a much better,
                cheaper technique that will work. It's still experimental, and it would require
                some radical changes to current chestnut handling and storage procedures, but
                it could mean effective year-round storage of fresh chestnuts with negligible
                quality loss. Fingers crossed.
                </p>

                <h3>Until then :-</h3>

                <ul>
                    <li>The cleaner the chestnuts the better.</li>
                    <li>The drier the chestnuts the better.</li>
                    <li>The colder the chestnuts the better.</li>
                    <li>
                        And in most instances the detail of chestnut handling and storage
                        will be at the direction and primary concern of the packhouse and
                        buyer with whom you will need to consult.
                    </li>
                </ul>

            </div> <!-- /col -->
            <div class="col-md-1"></div>
        </div> <!-- /row -->
    </div> <!-- /storage -->
{% endblock %}